<div class="row">
    <div class="col-12">
        <div class="footer">
            {% block footer %}
                Powered by Viktor (c) 2019
            {% endblock %}
        </div>
    </div>
</div>